@{
    ViewData["Title"] = "Event Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EventManager.Models.Venue

    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <hr />
    <img src="@Model.ImageURL" class="img-responsive" />
    <p>@Html.DisplayFor(model => model.Description)</p>

    <h3>Events at this venue:</h3>
    <div id="event-list" class="row">
    <ul>
        @foreach (var listEvent in Model.Events)
            {
            <li class="col-md-4">
                <div class="event">
                    <h3>@Html.DisplayFor(modelEvent => listEvent.Title)</h3>
                    <img src="@Html.DisplayFor(model => listEvent.ImageURL)" class="img-responsive" />
                    @Html.ActionLink("Details", "Details", "Events", new { id = listEvent.EventId })
                </div>
            </li>
        }
    </ul>
</div>







    <p>
    @if (User.Identity.IsAuthenticated)
    {
        <span> @Html.ActionLink("Edit", "Edit", new { id = Model.VenueId }) | @Html.ActionLink("Delete", "Delete", new { id = Model.VenueId }) |</span>
    }
    @Html.ActionLink("Back to List", "Index")</p>
