@{
    ViewData["Title"] = "Event Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EventManager.Models.Venue

    <h2>Edit</h2>
    <hr />
    <h4>Edit this event: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.EventId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name, new { @class = "form-control" })


        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

