@{
    ViewData["Title"] = "Event Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EventManager.Models.Venue

@if (User.Identity.IsAuthenticated)
{
    <h2>Edit</h2>
    <hr />
    <h4>Edit this venue: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.VenueId)

        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })

        @Html.LabelFor(model => model.ImageURL)
        @Html.TextBoxFor(model => model.ImageURL, new { @class = "form-control" })


        <input type="submit" value="Save" class="btn btn-primary"/>
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
}
else
{
    <h3>Please @Html.ActionLink("Log in", "Login", "Account") or @Html.ActionLink("Register", "Register", "Account") before editing this venue.</h3>
}
