@{
    ViewData["Title"] = "Event Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims
@model IEnumerable<EventManager.Models.Venue>

<h2>Venues</h2>
<hr />
<form action="DisplayVenuesByKeyword" class="display-venues-by-keyword">
    <label for="keyWord">Search venues by name:</label>
    <input type="text" name="keyWord" class="form-control" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

    <div id="venue-list" class="row">
        <ul>
            @foreach (var listVenue in Model)
            {
                <li class="col-md-4">
                    <div class="event">
                        <h3>@Html.DisplayFor(modelVenue => listVenue.Name)</h3>
                        <img src="@Html.DisplayFor(model => listVenue.ImageURL)" class="img-responsive" />
                        @Html.ActionLink("Details", "Details", new { id = listVenue.VenueId })
                    </div>
                </li>
            }
        </ul>
    </div>
<form action="DisplayAllVenues" class="display-all-venues"><button type="submit" class="btn btn-primary">View All Venues</button></form>
<p>@Html.ActionLink("Add your own venue", "Create", null, new { @class = "btn btn-default" })</p>

<script>
    $('.display-venues-by-keyword').submit(function (event) {
        event.preventDefault();
        console.log($(this).serialize());
    $.ajax({
        url: '@Url.Action("DisplayVenuesByKeyword")',
        type: 'GET',
        data: $(this).serialize(),
        dataType: 'json',
        success: function (result) {
            $(".display-all-venues button").fadeIn();
            console.log(result);
            var stringResult = '<ul>';
            for (var i = 0; i < result.length; i++) {
                stringResult += '<li class=" col-md-4"><div class="event"><h3>' + result[i].name + '</h3><img src="' + result[i].imageURL + '" class="img-responsive"/> <a href="/Venues/Details/' + result[i].venueId + '">Details</a></div></li>';
            }
            stringResult += '</ul>';
            if (result.length == 0)
            {
                stringResult += '<li class=" col-md-12"><h2>No results</h2></li>';
            }
            $('#venue-list').html(stringResult);
        }
    });
    });

    $('.display-all-venues').submit(function (event) {
        event.preventDefault();
        console.log($(this).serialize());
        $.ajax({
            url: '@Url.Action("DisplayAllVenues")',
            type: 'GET',
            data: $(this).serialize(),
            dataType: 'json',
            success: function (result) {
                $(".display-all-venues button").fadeOut();
                var stringResult = '<ul>';
                for (var i = 0; i < result.length; i++) {
                    stringResult += '<li class=" col-md-4"><div class="event"><h3>' + result[i].name + '</h3><img src="' + result[i].imageURL + '" class="img-responsive"/> <a href="/Venues/Details/' + result[i].venueId + '">Details</a></div></li>';
                }
                stringResult += '</ul>';
                $('#venue-list').html(stringResult);
            }
        });
    });
</script>
