@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EventManager.ViewModels.AccountViewModel

<h2>Your Account</h2>
@if (User.Identity.IsAuthenticated)
{

        <p>Hello, @Html.ActionLink(@User.Identity.Name, "Index", "Account")!</p>

        <p>@Html.ActionLink("Add new event", "Create", "Events", null, new { @class = "btn btn-primary" })</p>
        <p>@Html.ActionLink("Add new venue", "Create", "Venues", null, new { @class = "btn btn-primary" })</p>


        @using (Html.BeginForm("LogOff", "Account"))
        {
            <input type="submit" class="btn btn-info" value="Log out" />
        }

        <h3>Your Added Events:</h3>
        @if (Model.userEvents.Any())
        {
            <ul>
                @foreach (var listEvent in Model.userEvents)
                {
                    <li>@Html.DisplayFor(modelEvent => listEvent.Title) at @Html.DisplayFor(model => listEvent.Venue.Name) | @Html.ActionLink("Details", "Details", "Events", new { id = listEvent.EventId }) | @Html.ActionLink("Edit", "Edit", "Events", new { id = listEvent.EventId }) | @Html.ActionLink("Delete", "Delete", "Events", new { id = listEvent.EventId })</li>
                }
            </ul>
        }
        else
        {
            <p>No events have been created yet!</p>
        }

    <h3>Your Event Calendar:</h3>
    @if (Model.eventRSVPs.Any())
    {
        <ul>
            @foreach (var listRSVP in Model.eventRSVPs)
            {
                <li>@Html.DisplayFor(modelEvent => listRSVP.Event.Title) / @Html.DisplayFor(model => listRSVP.Event.Date) | @Html.ActionLink("Details", "Details", "Events", new { id = listRSVP.Event.EventId })</li>
            }
        </ul>
    }
    else
    {
        <p>You have not RSVPed to any events yet!</p>
    }

}
else
{
    <h3>You must @Html.ActionLink("Log in", "Login") or @Html.ActionLink("Register", "Register") before you can view your account.</h3>
}