@{
    ViewData["Title"] = "Event Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EventManager.Models.Event

    <h2>Create</h2>
    <hr />
    <h4>Add a new event</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title)

        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description)

        @Html.LabelFor(model => model.VenueId)
        @Html.DropDownList("VenueId")
        <input type="submit" value="Add new event" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
