@{
    ViewData["Title"] = "Event Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EventManager.Models.Event

@if (User.Identity.IsAuthenticated)
{
    <h2>Create an Event</h2>
    <hr />
    <h4>Add a new event</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })

        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })

        @Html.LabelFor(model => model.ImageURL)
        @Html.TextBoxFor(model => model.ImageURL, new { @class = "form-control" })

        @Html.LabelFor(model => model.VenueId)
        @Html.DropDownList("VenueId" )

        <hr />

        @Html.LabelFor(model => model.Date)
        @Html.EditorFor(model => model.Date, new { @type = "date" })
   
        <p>Select a time:</p>
        <input type="time" name="eventTime" />

        <hr/>

        @Html.LabelFor(model => model.TicketURL)
        @Html.TextBoxFor(model => Model.TicketURL, new { @class = "form-control" })

        <hr />

        <input type="submit" value="Add new event" class="btn btn-primary"/>
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

}
else
{
<h3>Please @Html.ActionLink("Log in", "Login", "Account") or @Html.ActionLink("Register", "Register", "Account") before creating a new Event.</h3>
}