@{
    ViewData["Title"] = "Event Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EventManager.Models.Event

    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <h3>at @Html.DisplayFor(model => model.Venue.Name)</h3>
    <p>@Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date)</p>
    <hr />
    <img src="@Model.ImageURL" class="img-responsive" />
    <h3>@Html.DisplayNameFor(model => model.Description) :</h3>
    <p>@Html.DisplayFor(model => model.Description)</p>
    <h3>Venue :</h3>
    <p>@Html.ActionLink(Model.Venue.Name, "Details", "Venues", new { id = Model.Venue.VenueId })</p>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#alertModal">
    Send to mobile calendar
    </button>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Send to your phone!</h4>
            </div>
            <div class="modal-body">
                <p>We will send the event "@Model.Title at @Model.Venue.Name" to your phone so you can add it to your mobile calendar.</p>
                <form action="SendAlert" class="send-alert">
                    <input name="to" type="text" class="form-control" />
                    <input name="eventName" type="text" value="@Model.Title" class="hidden" />
                    <input name="venue" type="text" value="@Model.Venue.Name" class="hidden" />
                    <input name="date" type="text" value="@Model.Date" class="hidden" />
                    <input type="submit" class="btn btn-primary" value="Send!" />
                </form>

                <div class="alert alert-success">
                    <strong id="sent"></strong>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->







    @Html.ActionLink("Back home", "Index")

    <script>
       $('.send-alert').submit(function (event) {
                event.preventDefault();
                console.log($(this).serialize());
                $.ajax({
                    url: '@Url.Action("SendAlert")',
                    type: 'GET',
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (result) {
                        $(".alert-success").fadeIn();
                        $('#sent').html(result);
                    }
                });
        });
    </script>

    <p><em>added by @Model.User.UserName</em></p>

    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <span> @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) | @Html.ActionLink("Delete", "Delete", new { id = Model.EventId }) |</span>
        }
    @Html.ActionLink("Back to List", "Index")</p>
