@{
    ViewData["Title"] = "Event Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EventManager.Models.Event


    <h2>Details</h2>
    <hr />
    <p>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</p>
    <p>@Html.DisplayNameFor(model => model.Venue.Name) : @Html.DisplayFor(model => model.Venue.Name)</p>
    <p>@Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) | @Html.ActionLink("Back to List", "Index")</p>
