@{
    ViewData["Title"] = "Event Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EventManager.Models.Event

    <h2>Edit</h2>
    <hr />
    <h4>Edit this event: @Html.DisplayFor(model => model.Title)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.EventId)

        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)

        @Html.LabelFor(model => model.VenueId)
        @Html.DropDownList("VenueId")

        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

