@{
    ViewData["Title"] = "Event Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EventManager.Models.Event

@if (User.Identity.IsAuthenticated)
{
    <h2>Edit this event: @Html.DisplayFor(model => model.Title)</h2>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.EventId)

        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })

        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })

        @Html.LabelFor(model => model.ImageURL)
        @Html.TextBoxFor(model => model.ImageURL, new { @class = "form-control" })

        @Html.LabelFor(model => model.VenueId)
        @Html.DropDownList("VenueId")

        @Html.LabelFor(model => model.Date)
        @Html.EditorFor(model => model.Date, new { @type = "date" })

        <p>Select a time:</p>
        <input type="time" name="eventTime" value=@Model.Time/>

        <input type="submit" value="Save" class="btn btn-primary"/>
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

}
else
{
    <h3>Please @Html.ActionLink("Log in", "Login", "Account") or @Html.ActionLink("Register", "Register", "Account") before editing this event.</h3>
}