@{
    ViewData["Title"] = "Event Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims
@model IEnumerable<EventManager.Models.Event>

    <h2>Events</h2>
    <hr />
    <form action="DisplayEventsByKeyword" class="display-events-by-keyword">
        <label for="keyWord">Search events by title:</label>
        <input type="text" name="keyWord" class="form-control"/>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <div id="event-list" class="row">
        <ul>
            @if (Model.Count() == 0)
            {
                <li class="col-md-12">
                    <h3>No events yet.</h3>
                </li>
            }
            else
            {
                @foreach (var listEvent in Model)
                {
                    <li class="col-md-4">
                        <div class="event">
                            <h3>@Html.DisplayFor(modelEvent => listEvent.Title)</h3><h4>at @Html.DisplayFor(model => listEvent.Venue.Name)</h4> 
                            <img src="@Html.DisplayFor(model => listEvent.ImageURL)"  class="img-responsive"/> 
                            @Html.ActionLink("Details", "Details", new { id = listEvent.EventId })
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
    <form action="DisplayAllEvents" class="display-all-events"><button type="submit" class="btn btn-primary">View All Events</button></form>
    <p>@Html.ActionLink("Add your own event", "Create", null, new { @class = "btn btn-default" })</p>


<script>
    $('.display-events-by-keyword').submit(function (event) {
        event.preventDefault();
        console.log($(this).serialize());
    $.ajax({
        url: '@Url.Action("DisplayEventsByKeyword")',
        type: 'GET',
        data: $(this).serialize(),
        dataType: 'json',
        success: function (result) {
            $(".display-all-events button").fadeIn();
            var stringResult = '<ul>';
            for (var i = 0; i < result.length; i++) {
                stringResult += '<li class=" col-md-4"><div class="event"><h3>' + result[i].title + '</h3><img src="' + result[i].imageURL + '" class="img-responsive"/> <a href="/Events/Details/' + result[i].eventId + '">Details</a></div></li>';
            }
            stringResult += '</ul>';
            if (result.length == 0)
            {
                stringResult += '<li class=" col-md-12"><h2>No results</h2></li>';
            }
            $('#event-list').html(stringResult);
        }
    });
    });

    $('.display-all-events').submit(function (event) {
        event.preventDefault();
        console.log($(this).serialize());
        $.ajax({
            url: '@Url.Action("DisplayAllEvents")',
            type: 'GET',
            data: $(this).serialize(),
            dataType: 'json',
            success: function (result) {
                $(".display-all-events button").fadeOut();
                var stringResult = '<ul>';
                for (var i = 0; i < result.length; i++) {
                    stringResult += '<li class=" col-md-4"><div class="event"><h3>' + result[i].title + '</h3><img src="' + result[i].imageURL + '" class="img-responsive"/> <a href="/Events/Details/' + result[i].eventId + '">Details</a></div></li>';
                }
                stringResult += '</ul>';
                $('#event-list').html(stringResult);
            }
        });
    });
</script>
