@{
    ViewData["Title"] = "Event Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<EventManager.Models.Event>

    <h2>Event Manager</h2>
    <hr />
    <h4>@Html.DisplayNameFor(model => model.Title)</h4>
    <ul>
        @foreach (var listEvent in Model)
        {
            <li>@Html.DisplayFor(modelEvent => listEvent.Title) at @Html.DisplayFor(model => listEvent.Venue.Name) | @Html.ActionLink("Details", "Details", new { id = listEvent.EventId }) | @Html.ActionLink("Edit", "Edit", new { id = listEvent.EventId }) | @Html.ActionLink("Delete", "Delete", new { id = listEvent.EventId })</li>
        }
    </ul>
    <p>@Html.ActionLink("Add new item", "Create")</p>
